[Unit]
Description=Test Wordpress-Mysql docker-compose with podman
After=podman.socket
Requires=podman.socket

[Service]
Type=simple
Restart=always
RemainAfterExit=true
WorkingDirectory=/home/cserki/onlab/awesome-compose-master/wordpress-mysql/
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
