[Unit]
Description=Test Wordpress-Mysql docker-compose with podman
After=podman.socket
Requires=podman.socket

[Service]
Type=simple
Restart=always
WorkingDirectory=/root/test/
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
